/* Add CSS styling here */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* General Styles */
html{
    font-size:62.5%;
}
    
body{
line-height:2;
font-size: 2rem;
font-family: Arial, Helvetica, sans-serif;
}

section{
    padding:3% 0;
}

h1, h2{
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 4px;
}


/* header section styles */
header{
    background-color:blue;
}
header nav{
    width:80%;
    background-color: darkgray;
    display: flex;
    justify-content: row;

}

/* first section styles*/
#about-me{
    background-color:grey;

}
#about-me h2{
    text-align:left;
    padding: 4% 0;
}

#about-me .about-me-container{
    display:flex;
    justify-content:row;
}
#about-me .about-me-container about-me-image{
    display:flex;
    justify-content:space-around;

}




/*Gallery syles */
#gallery-container{
    display: flex;
    justify-content: center;
}
#picture-1, #picture-2, #picture-3, #picture-4{
    width: 100%;
    height: 100%;
}
.gallery{
    display: flex;
    justify-content: space-between;
    
}
#gallery-text{
    text-align: center;
    padding-top: 1%;
    font-family: serif;
    font-size: 20px;
    color:black;
}
/*Thing Containers*/
#thing-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
}